/* 
    Document   : ancla
    Created on : 09-jun-2013, 20:48:49
    Author     : Agustin
    Description:
        Purpose of the stylesheet follows.
*/

html, body{
    height: 100%;
}

.alto100{
    height: 90%; /*Chapuza, luego lo arreglo :P*/
}

.ancho100{
    width: 100%;
}

#map-canvas{
    width: 100%;
    height: 100%;
}

